$scheme-name: "ectoplasm";
$base-color: #523f6d;
$icon-color: #ece6f6;
$highlight-color: #a3b745;
$notification-color: #d46f15;

$form-checked: $base-color;

<<<<<<< HEAD
<<<<<<< HEAD
$dashboard-accent-1: $base-color;

=======
>>>>>>> fb785cbb (Initial commit)
=======
$dashboard-accent-1: $base-color;

>>>>>>> c058c778 (Combining with the latest source from WP)
@import "../_admin.scss";
