$scheme-name: "midnight";
$base-color: #363b3f;
$highlight-color: #e14d43;
$notification-color: #69a8bb;

<<<<<<< HEAD
<<<<<<< HEAD
$dashboard-accent-1: $notification-color;
=======
>>>>>>> fb785cbb (Initial commit)
=======
$dashboard-accent-1: $notification-color;
>>>>>>> c058c778 (Combining with the latest source from WP)
$dashboard-icon-background: $highlight-color;

@import "../_admin.scss";
