/**
	Breakpoints
*/

$breakpoint_xs:'only screen and(min-width:'$width_xs')';
$breakpoint_sm:'only screen and(min-width:'$width_sm')';
$breakpoint_md:'only screen and(min-width:'$width_md')';
$breakpoint_lg:'only screen and(min-width:'$width_lg')';
$breakpoint_xl:'only screen and(min-width:'$width_xl')';