/**
	Exit Site Link
*/

.exit-site{
	border:0;
	color:#ffffff;
	font-size:22px;
	text-transform:uppercase;
	cursor:pointer;
	bottom:$spacing_xs;
	right:$spacing_xs;
	padding:$spacing_sm;
	text-align:center;
	z-index:99;
	position:fixed;
	background-color:$ui-alert;

	span{
		display:block;
		font-size:13px;
		line-height:21px;
	}
}