/**
	Link
*/

a{
	position:relative;
	color:$brand-colour-primary;

	&:hover{
		// color:darken($brand-colour-primary, 15%);
	}
	
	&:focus{
		outline:3px solid $ui-focus-colour;
	}
	
	&:active{
		// color:lighten($brand-colour-primary, 15%);
	}

	&:visited{
		// color:darken($brand-colour-primary, 15%);
	}
}