/**
	Margin
*/

.no-margin-xs{
	margin-bottom:0 !important; 
}

@media #{$breakpoint_sm}{
	.no-margin-sm{
		margin-bottom:0 !important;
	}
}

@media #{$breakpoint_md}{
	.no-margin-md{
		margin-bottom:0 !important;
	}
}

@media #{$breakpoint_lg}{
	.no-margin-lg{
		margin-bottom:0 !important;
	}
}

@media #{$breakpoint_xl}{
	.no-margin-xl{
		margin-bottom:0 !important;
	}
}