/**
	Nav Tertiary
*/

.nav-tertiary{
    grid-gap:$spacing_sm;
    display:grid;
    @media #{$breakpoint_sm}{
        grid-template-columns:repeat(2, 1fr);
    }
    @media #{$breakpoint_md}{
        margin-left:-$spacing_xxl;
        margin-right:-$spacing_xxl;
        grid-template-columns:repeat(3, 1fr);
    }
}

.nav-tertiary__item{
    position:relative;
}

.nav-tertiary__link{
    @extend .box-shadow--sm;
    display:block;
    text-decoration:none;
} 

.nav-tertiary__title{
    position:absolute;
    bottom:0;
    left:0;
    padding:$spacing_xxs;
    width:100%;
    margin-bottom:0;
    color:$ui-off-white;
    pointer-events:none;
    background-color:rgba($brand-colour-primary,0.8);
}

.nav-tertiary__image{
    height:200px;
    background-color:$brand-colour-primary;
    overflow:hidden;

    img{
        transition:all 0.1s;
        width:100%;
        height:100%;
        object-fit:cover;
        margin-bottom:0;

        &:hover{
            transform:scale(1.1);
        }
    }
}