/**
	Night
	https://inclusive-components.design/a-theme-switcher/
*/

.night { 
	background-color:#fefefe;
	filter:invert(100%);

	body { 
		background-color:inherit;
	}

	img:not([src*=".svg"]), 
	video,
	[style^="background-image:"],
	[style^="background-image:"] > * {  
	   filter:invert(100%);
	}
}